@import '../../scss/style';

.teacher-mode {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__button {
    position: relative;
    cursor: pointer;
    border: none;
    transition: all .3s ease;
    border-radius: 16px;
    background: $totalWhiteColor;

    &:hover {
      transform: translateY(-8px);

      & path {
        fill: $whiteBorderColor;
      }
    }

    &-icon {
      display: block;
      margin-bottom: 20px;
    }

    &-text {
      display: block;
      font-weight: 700;
      font-size: 16px;
    }
  }
}