$lightGreenColor: #ADFA00;
$darkGreenColor: #152200;
$totalWhiteColor: #FFFFFF;
$totalBlackColor: #000000;
$greyColor: #F2F2F7;
$blueDarkColor: #1C1C1E;
$blackDarkColor: #2C2C2E;
$whiteBorderColor: #D1D1D6;
