.modal-category {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 10px;
  background: #FFFFFF;
  top: 80%;
  right: 0;
  border-radius: 16px;
  border: 1px solid #ADFA00;

  &__block {
    padding: 16px 16px 16px 21px;;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__list {
    font-size: 20px;
  }
}