@import '../../scss/style';

.registration {
  display: flex;
  padding: 351px 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 50%;
  border-radius: 16px;
}

.register-block {
  width: 50%;
  padding: 0 90px;

  &_content {
    font-size: 40px;
    font-weight: 700;
  }

  &_word {
    color: #ADFA00;
  }
}