@import '../../scss/style';

.loginRegisterForm {
  display: flex;
  justify-content: space-around;
  margin: 235px 0 263px;
}

.formBlock {
  width: 50%;
  padding: 0 72px;

  &_content {
    font-size: 40px;
    font-weight: 700;
  }

  &_word {
    color: #ADFA00;
  }
}