@import "../../scss/partials/colors";

.lending-teachers__block {
  background: $greyColor;
  padding: 60px 0 130px;
  margin: 0;
  overflow: hidden;

  &-headline {
    margin-bottom: 30px;
    background: url('../../assets/icons/Vector.svg') no-repeat;
  }

  &-text {
    width: 450px;
    margin-left: 60px;
  }

  &-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 16px;
  }

  &-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 600px) {
  .lending-teachers__block {
    &-text {
      width: 80%;
    }
  }
}