@import '../../../scss/style';

.main-nav {
  padding: 0 15px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    transition: all 0.5s;
  }

  &__item {
    padding: 0 50px 0 7px;
    transition: all 0.5s;
  }

  &__link {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;

    &:hover {
      color: $lightGreenColor;
    }
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  padding: 0 50px 0 7px;
  transition: all 0.5s;

  &__toggle {
    background: transparent;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
      color: $lightGreenColor;
    }
  }

  &__drawer {
    display: none;
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 2.1em;
    background: $totalWhiteColor;
    z-index: 100;
    box-shadow: 0 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
    border-radius: 16px;
  }

  &__is-open .dropdown__drawer {
    display: block;
  }
}

.menu {
  text-align: center;

  &__link {
    color: $blackDarkColor;
    display: block;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: $lightGreenColor;
    }
  }
}
