@import '../../../scss/style';

.main-nav{
  padding: 0 15px;
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    transition: all 0.5s;
  }
  &__item{
    padding: 0 50px 0 7px;
    transition: all 0.5s;
  }
  &__link{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    &:hover{
      color:  $lightGreenColor;
    }
  }
}