.content-form{
  width: 100%;
  padding: 24px 24px 32px;
  margin: 0 auto;
  background: white;
  border-radius: 16px;
  position: relative;

  &__item{
    &:not(:last-child){
      margin-bottom: 32px;
    }
  }

  &__files-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  &__title{
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 24px;
  }

  &__editor-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    width: 19px;
    height: 24px;
    background-image: url("../../assets/icons/remove.svg");
    background-size: cover;
    background-position: center;
    top: 24px;
    right: 27px;
    border: none;
    background-color: transparent;
  }
}

.content-form-save {
  width: 280px;
  font-size: 16px;
  margin-top: 54px;
}