@import '../../scss/style';

.promo{
  padding: 130px 0 175px;
  position: relative;
  background-color: $darkGreenColor;
  &_inner{
    display: flex;
    @include xl {
      flex-direction: column-reverse;
    }
  }
  &_column_left{
    width: 50%;
  }
  &_column_right{
    width: 40%;
  }
  &_title{
    font-size: 74px;
    margin: 0;
    color: $totalWhiteColor;
  }
  &_logo{
    @include xl{
      //right: 8%;
      width: 40%;

    }
  }
  &_button{
    padding: 16px 48px;
    font-size: 20px;
  }
  &_text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 40px;
    color: $totalWhiteColor;
  }
  &_image{
    position: absolute;
    top: 8%;
    right: 10%;
    @include xxl{
      right: 8%;
    }
    @include xfl{
      //right: 8%;
      width: 40%;
      top: 50%;
      transform: translateY(-50%);
    }
    @include xl {
      width: 40%;
      top: 50%;
      transform: translateY(-50%);
    }
    &_img{
      width: 100%;
      height: auto;
    }
  }
}
