@import '../../scss/style';

.promo{
  //background-color: #FFFFFF;
  padding: 47px 0 0;
  background-color: $darkGreenColor;
  &_title{
    font-size: 74px;
    margin: 0;
    color: $totalWhiteColor;
  }
  &_button{
  }
  &_text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: $totalWhiteColor;
  }
  &_inner{
    display: flex;
  }
  &_halfColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  &_column{
    flex-basis: 50%;
  }
  &_img{
    display: block;
    margin-bottom: -10px;
    width: auto;
    height: 100%;
  }
}
