@import '../../scss/style';


.course-control {
  &__table {
    text-align: center;
    background-color: $totalWhiteColor;
    font-size: 18px;
    width: 100%;
    border: 4px solid $lightGreenColor;
    border-radius: 15px;
    padding: 15px;

    &-tr {
      color: $lightGrey;
    }

    &-button {
      background-color: red;
    }

    &-text {
      width: 200px;
      height: 150px;
      overflow-y: scroll;
    }
  }
}



