@import '../../scss/style';

.program-block{
  margin-bottom: 193px;
  &__card{
    background: $totalWhiteColor;
    width: 100%;
    height: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 24px;
    }
  }

  &__card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding: 24px 25px;
  }

  &__card-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-right: 20px;
    transition: all .5s ease;

    &:hover svg circle {
      fill: $greyColor;
    }

    svg circle {
      transition: all .5s ease;
    }
  }

  &__btn{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 64px;
    margin: 64px auto 0;
    transition: all .5s ease;
    border: 3px solid transparent;

    &:hover{
      background: transparent;
      border-color: $lightGreenColor;
      transition: all .5s ease;
    }

  }
}