@import '../../scss/style';

.reviews {
  &__wrapper {
    background-color: $totalWhiteColor;
    max-width: 800px;
    height: auto;
    border-radius: 16px;
  }

  &__subtitle {
    padding: 24px 0px 47px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #333333;

  }
}