@import '../../scss/style';

.about {
  background: transparent;
  position: relative;
  &_con {
    display: flex;
    &_left {
      width: 40.7%;
      &_imgUnderBlock {
        position: absolute;
        left: 8%;
        top: 0;
        @include xxl{
          left: 2%;
        }
        @include xfl{
          transform: translateX(-17%);
        }
        @include xl {
          width: 60%;
          top: 50%;
          left: -90px;
          transform: translateY(-50%);
        }
        &_image {
          width: 100%;
        }
      }
      &_imgUpBlock {
        position: absolute;
        left: 12.7%;
        top: 5%;
        @include xxl{
          left: 8%;
        }
        @include xfl{
          left: 0;
        }
        @include xl {
          width: 40%;
          top: 50%;
          transform: translateY(-50%);
        }
        &_image {
          width: 100%;
        }
      }
    }
    &_right {
      width: 59%;
      &_title {
        position: relative;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        color: $lightGreenColor;
        padding-left: 80px;
        margin-top: 100px;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 4px;
          background: url("../../assets/logo/Vector.svg") 0 0 no-repeat;
          width: 48px;
          height: 37px;
        }
      }
      &_sub-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        color: $totalWhiteColor;
        margin-bottom: 5px;
      }
      &_text {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: $totalWhiteColor;
        margin-bottom: 90px;
      }
    }
  }
}