@import "../../scss/style";

.certificate {
  border-radius: 16px;
  background: $totalWhiteColor;
  padding: 100px;

  &__logo {
    width: 20%;

    &__image {
      width: 100%;
      height: auto;
    }
  }


  &__content-block {
    padding: 80px 0;
    width: 80%;
    margin: auto;
    text-align: center;
    border-bottom: 1px dashed $totalBlackColor;

    &__title {
      font-size: 84px;
      text-transform: uppercase;
      font-weight: 700;
      color: $totalBlackColor;
      margin-bottom: 40px;
    }

    &__fullName {
      text-transform: capitalize;
      font-style: italic;
      font-size: 42px;
      border-bottom: 1px solid $totalBlackColor;
    }

    &__course {
      padding: 25px 0;
      font-size: 24px;
      font-weight: 500;
    }

    &__description {
      font-size: 20px;
    }
  }
}