@import "../../scss/style";

.certificate {
  border-radius: 16px;
  background: $totalWhiteColor;
  padding: 60px 40px;
  max-width: 1200px;
  margin: 0 auto;

  &__logo {
    width: 18%;

    &__image {
      width: 100%;
      height: auto;
    }
  }


  &__content-block {
    padding: 40px 0 0;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;

    &__title {
      font-size: 84px;
      text-transform: uppercase;
      font-weight: 700;
      color: $totalBlackColor;
      margin-bottom: 50px;
      //word-wrap: anywhere;

      @media (max-width: 1000px) {
        font-size: 64px;
      }
      @media (max-width: 650px) {
        font-size: 42px;
      }
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }

    &__fullName {
      text-transform: capitalize;
      font-style: italic;
      font-size: 42px;
      word-wrap: anywhere;
      border-bottom: 1px solid $totalBlackColor;
      @media (max-width: 1000px) {
        font-size: 24px;
      }
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }

    &__course {
      padding: 25px 0;
      font-size: 24px;
      font-weight: 500;
      @media (max-width: 1000px) {
        font-size: 18px;
      }
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }

    &__description {
      font-size: 20px;
      margin-bottom: 110px;
      background-size: 287px 1px;
      @media (max-width: 1000px) {
        font-size: 16px;
      }
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }

    &__line {
      background-image: linear-gradient(to right, #000 80%, rgba(255, 255, 255, 0) 0%);
      background-size: 287px 1px;
      background-repeat: repeat-x;
      height: 1px;
      @media (max-width: 1000px) {
        background-size: 287px 1px;
      }
      @media (max-width: 650px) {
        background-size: 114px 1px;
      }
      @media (max-width: 500px) {
        background-size: 80px 1px;
      }
    }
  }
}