@import '../../../scss/style';

.course-settings {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;

  &__left {
    width: 30%;
  }

  &__right {
  }

  &__save-button-block {
    margin-top: 40px;

    &:hover {
      background-color: $whiteBorderColor;
    }
  }
}

.activeClass {
  background: #F2F2F7;
}