@import '../../../scss/style';

.course-settings {
  display: flex;
  width: 100%;
  gap: 50px;

  &__left {
    width: 30%;
  }

  &__right {
    &-save-button {
      margin-top: 40px;

      &:hover {
        background-color: $whiteBorderColor;
      }
    }
  }
}
