@import '../../scss/style';

.header{
  background: $darkGreenColor;
  padding: 25px 0 !important;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  &_logo{
    font-size: 30px;
    margin-right: 50px;
    img {
      width: 219px;
      height: 31px;
    }
  }
  &_MainButton{
    font-size: 16px;
  }
}