@import '../../scss/style';

.header{
  background: transparent;
  padding: 15px 0 !important;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  &_logo{
    font-size: 30px;
  }
  &_MainButton{
    font-size: 16px;
  }
}