@import "./scss/style";

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $gillRoy, sans-serif;
  font-size: 13px;
  color: $blueDarkColor;
  font-weight: 500;
  background: $silverColor;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: $darkGreenColor;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.82);
}
